.card {
  /* background-image: "https://lax2jfk.files.wordpress.com/2012/05/tribecalledquest-midnightmarauders.jpg"; */
  border-radius: 2px;
  height: 250px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background-image: linear-gradient(to bottom right, red, black, yellow, green);
}
.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}






